* {
    box-sizing: border-box;
}

body {
    font-family: Roboto;
}

.principal {
    display: flex;
}

.telaDeEntrada {
    width: 375px;
    height: 667px;
    border: 1px solid #D7D7D7;
    border-radius: 3px;

    position: fixed;
    z-index: 8;
    
    display: flex;
    flex-direction: column;
    align-items: center;
}

.telaDeEntrada img {
    margin-top: 72px;
}

input.nome {
    all: unset;
    
    background: #FFFFFF;
    border: 1px solid #D7D7D7;
    box-sizing: border-box;
    border-radius: 4px;

    text-align: center;

    width: 261px;
    height: 54px;
    margin-top: 94px;
}

input.nome:focus {
    border: 1px solid #000000;
}

input.name::placeholder, span.entrar {
    font: normal normal 14px;

    line-height: 25px;

    color: #696969;

    margin: 0 auto;
}

.botaoDeEntrada {
    width: 109px;
    height: 45px;
    margin-top: 15px;
    background: #E7E7E7;
    border-radius: 9px;
    
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.botaoDeEntrada:hover {
    background: rgb(55, 180, 202);
}

.container {
    width: 375px;
    height: 667px;

    background: #F3F3F3;
    position: absolute;
    z-index: 10;
}

header, footer {
    width: 375px;
    height: 80px;

    background: #FFFFFF;

    display: flex; 
    justify-content: space-between;
    align-items: center;
}

header {
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05);
    padding: 0 22px;

    position: fixed;
    top: 0;
    z-index: 10;
}

header ion-icon {
    font-size: 42px;
    cursor: pointer;
}

main {
    padding-top: 80px;
}

.chat {
    height: 507px;

    overflow-x: hidden;

    position: relative;
}

.mensagem {
    width: 100%;
    padding: 8px 0;
    
    border-radius: 2px;
    margin: 8px 0;
    padding-left: 8px;

    font: normal 14px Roboto;

    line-height: 16px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.mensagem:first-child {
    margin-top: 26px;
}

span {
    padding: 0 4px;
}

span.pessoa {
    font-weight: 700;
}

span.hora {
    color: #AAAAAA;
}

.status {
    background-color: #DCDCDC;
}

.private_message {
    background-color: #FFDEDE;
}

.message {
    background-color: #FFFFFF;
}

footer {
    box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.05);
    padding: 0 17px;

    position: absolute;
    bottom: 0;
    z-index: 10;
}

footer ion-icon {
    font-size: 26px;
    cursor: pointer;
}

input.texto {
    all: unset;
    
    width: 300px;
    height: 80px;
}

input.texto::placeholder {
    font: italic 18px Roboto;
    line-height: 21px;

    color: #000000;
}

h1 {
    width: 259px;
    height: 84px;
    padding: 0 45px;

    font: bold 16px Roboto;
    
    line-height: 19px;
    
    display: flex;
    align-items: center;
    text-align: center;

    color: #000000;
    background-color: white;
}

.telaParticipantes {
    display: flex;

    transform: translateX(100%);
    transition: all 1s ease-in-out;
    
    position: fixed;
    z-index: 1000;
}

.telaParticipantes.participantesEscondidos {
    transform: translateX(0px);
    transition: all 1s ease-in-out;
}

.listaParticipantes {
   width: 259px;
   height: 667px;

   background-color: white;
   overflow-x: hidden;
}

.participantes {
    padding-top: 0px;
}

.individual {
    display: flex;
    align-items: center;
}

.bordaSelecao {
    border: 1px solid #000000;
    border-radius: 4px;
}

.barraPreta {
    width: 116px;
    height: 667px;

    background: rgba(0, 0, 0, 0.6);
}

li {
    font: normal normal 16px;

    color: #000000;

    cursor: pointer;
}

.participantes ion-icon {
    font-size: 20px;
    padding: 16px 7px 18px 17px;
}

.escondido {
    display: none;
}